.buscador form {
    width: 97.25%;
    margin: 12px 0px 12px 15px;
    display: flex;
}

.inputbuscar {
    font-family: $font;
    font-size: 1rem;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
    background: #FFFFFF;
    padding: 11.5px 0px 11.5px 16px;
    width: 88.8%;

    &:focus {
        outline: none;
        color: $primary-font-day;
        caret-color: #4180F6;
    }

    @media (max-width: 960px) {
        width: 70%;
    }
}

.btn-buscar {
    padding-left: 0.625rem;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 6px;

    &:hover {
        outline: none;
        background-color: $gray-button-day;
    }

    & span {
        margin-left: 10px;
        line-height: 18px;

        
    }

    @media (max-width: 960px) {
        padding: 11px 14px 11px 12px;
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-left: 4px;
        margin-top: 0px;
        margin-bottom: 0px;

        & span {
            display: none;
        }
    }
}

.normal-text {
    color: #B4B4B4;
    body.night & {
        color: #8F8F8F;
    }
}

.active-text {
    color: $primary-font-day;
    body.night & {
        color: $primary-font-night;
    }
}

.active-buscar {
    background-color: $primary-button-day;
    border: $primary-button-border-day;
    box-shadow: $primary-button-shadow-day;
    color: $primary-font-day;

    &:hover {
        background-color: $primary-button-hover-day;
        outline: 1px dotted $primary-font-day;
        outline-offset: -4px;
    }

    body.night & {
        background-color: $primary-button-night;
        border: $primary-button-border-night;
        box-shadow: $primary-button-shadow-night;
        color: $primary-font-night;
    }
}

.search-sugerencias {
    display: none;
    padding: 16px 129px 7px 15px;
    position: absolute;
    transform: translate(-4px, 3px);
    width: 83.95%;
    box-sizing: border-box;
    max-width: 1343.2px;

    @media (max-width: 960px) {
        width: 98%;
        padding: 10px 15px 5px 15px;
    }
}

.search-sugerencia{
    margin-bottom: 10px;
    width: 100%;
    text-align: start;
}

.busqueda-on {
    background-color: #E6BBE2 ;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: $primary-font-day;
    outline: 1px dotted $primary-font-day;
    outline-offset: -4px;

    body.night & {
        background: #CE36DB;
        color: $primary-font-night;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    }
}

