/*BUTTON*/
.btn {
    font-family: $font;
    font-size: 1rem;
    display: block;
    text-decoration: none;;
    cursor: pointer;
}

//PRIMARY BUTTON
.primary {
    padding: 0.5625rem 1.5625rem 0.5625rem 1.5625rem;
    background-color: $primary-button-day;
    border: $primary-button-border-day;
    box-shadow: $primary-button-shadow-day;
    color: $primary-font-day;

    body.night & {
        background-color: $primary-button-night;
        border: $primary-button-border-night;
        box-shadow: $primary-button-shadow-night;
        color: $primary-font-night;
    }
}

//DROPDOWN BUTTON
.dropdown-button{
    display: flex;
}

//DROPDOWN ICON
.v-icon {
    padding: 6.6px 12px 6.6px 12px;
    display: inline;
}


//GRAY BUTTON
.gray {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    padding-left: 1rem;
    background-color: $gray-button-day;
    border: $gray-button-border;
    box-shadow: $gray-button-shadow;
    color: $primary-font-day;

    body.night &{
        background-color: $gray-button-night;
    }
}

//ELEGIRTEMA SELECTED BUTTON
.theme-selected{
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    padding-left: 1rem;
    margin-bottom: 10px;
    color: $primary-font-day;
    background-color: $elegirtema-button-selected-day;
    border: $elegirtema-button-selected-border-day;
    box-shadow: $elegirtema-button-selected-shadow-day;
}

//MIS GUIFOS BUTTON
.misguifos{
    margin-top: 0.5625rem;
    color: $primary-font-day;
    &::after{
        content: '_';
        position: relative;
        right: 72px;
        top: 1px;
    }
}

//VER MÁS BUTTON
.vermas {
    padding: 0.5rem 0.625rem 0.5rem 0.625rem;
    background-color: $vermas-button-background-day;
    border: $vermas-button-border-day;
    box-shadow: $vermas-button-shadow-day;
    color: $ventana-color-font;
    font-size: 0.875rem;
    position: absolute;
    transform: translate(14px, -45px);
}

//CAPTURANDO BUTTON
.capturando {
    padding: 0.5625rem 3.343rem 0.5625rem 3.343rem;
    background-color: $capturando-background;
    border: $capturando-border;
    color: $ventana-color-font;
    box-shadow: $capturando-shadow;
}

//SECONDARY BUTTON
.secondary {
    padding: 0.5625rem 0.84375rem 0.5625rem 0.84375rem;
    background-color: $secondary-button-background-day;
    border: $secondary-button-border-day;
    box-shadow: $secondary-button-shadow-day;
    color: $primary-font-day;
}








