/*containergif */
.gifs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gif {
    display: block;
    height: 19.4714vw;
    width: 19.4714vw;
    max-width: 280px;
    max-height: 280px;
    min-width: 200px;
    min-height: 200px;
}

.sinventana {
    height: 20.72vw;
    width: 20.02vw;
    max-width: 288px;
    max-height: 298px;
    min-width: 205px;
    min-height: 212.17px;
}


.archivo-gif {
    height: 20.72vw;
    width: 20.02vw;
    max-width: 288px;
    max-height: 298px;
    min-width: 205px;
    min-height: 212.17px;
    margin-bottom: 16px;
}

.gif-hovered {
    display: block;
    margin: auto;
    width: 99%;
    height: 99%;
    
}

.ventana-title {
    display: flex;
    justify-content: space-between;
}

.imgbtncerrar {
    margin-right: 5px;
}

#separador-resultname {
    display: none;
}

.hover-dotted {
    outline: 1px dotted $primary-font-day;
    outline-offset: -5px;
}

.hover-dotted-img {
    outline: 1px dotted $primary-font-day;
    outline-offset: -3px;    
}

.hover-gifsearch {
    box-sizing: border-box;
    outline: 1px dotted $primary-font-day;
    outline-offset: -9px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background-color: $ventana-background-day;
    padding: 4px;
    &::after {
        content: attr(data-content);
        overflow: hidden;
        font-family: $font;
        color: $ventana-color-font;
        font-size: 15px;
        font-weight: 700;
        background-image: $gradient-day;
        display: block;
        position: relative;
        line-height: 17px;
        left: 1px;
        bottom: 22px;
        width: 19.61vw;
        max-width: 282px;
        min-width: 201.22px;
        height: 15px;
        text-align: left;
        text-transform: lowercase;
        padding: 3px 2px;
    }

    body.night & {
        box-shadow: $ventana-boxshadow-night;
        background-color: $ventana-background-night;
    }

    body.night &::after {
        background-image: $gradient-night;
    }
}