/* navbar */

header, .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.bienvenida {
    color: $ventana-color-font;
    background-image: $gradient-day;
    box-shadow: 0 1px 0 0 #110038;

    body.night & {
        background-image: $gradient-night;
    }
}

.nav{
    margin-top: 0.5625rem;
    width: 430px;

    @media (max-width: 960px) {
        width: 100%;
        & .primary {
            margin-bottom: 4px;
        }
       flex-direction: row;
       justify-content: space-between;
       
    }

}


.drop-down {
    width: 95px;
    height: 30px;
    margin-top: 6px;
    text-align: center;
    &:hover{
        border: dotted 1px $primary-font-day;
        margin: 5px -1px -1px -1px;
    }
    body.night &:hover{
        border: dotted 1px $primary-font-night;
    }

    @media (max-width: 960px) {
        display: none;

    }
}

//ELEGIR TEMA
.elegir-theme {
    width: 150px;
    position: absolute;
    padding: 10px;
    transform: translate(0px, 36px);
}

.themebtn {
    width: 100%;
    text-align: start;
}

.arrow {
    position: absolute;
    transform: translate(-30px, 10px);

    @media (max-width: 960px) {
        transform: translate(-100px, 10px);
    }
}

.opacity {
    opacity: 50%;
}