/* navbar */

header, .nav {
    display: flex;
    justify-content: space-between;
}

.bienvenida {
    color: $ventana-color-font;
    background-image: $gradient-day;
    box-shadow: 0 1px 0 0 #110038;

    body.night & {
        background-image: $gradient-night;
    }
}

.nav{
    margin-top: 0.5625rem;
    width: 419.5px;
}

//ELEGIR TEMA
.elegir-theme {
    display: none;
    width: 150px;
    position: absolute;
    padding: 10px;
    transform: translate(0px, 36px);
}

.themebtn {
    width: 100%;
    text-align: start;
}
