html {
    max-width: 1600px;
    margin: auto;
}

body{
    background-color: $background-day;
    max-width: 1600px;
    margin: auto;
    
    &.night {
        background-color: $background-night;
    }
}

.full {
    box-sizing: border-box;
    display: block;
    padding-left: 0.4375rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: 1600px;
}

.container {
    max-width: 1500px;
    box-sizing: border-box;
    margin-left: 6.328%;
    margin-right: 9.736%;
}

.bienvenida {
    font-family: $font;
    font-size: 12px;
}

header{
    margin-top: 2.1875rem;
}

.buscador {
    margin-top: 38px;
}

.ventana{
    background: $ventana-background-day;
    box-shadow: $ventana-boxshadow-day;
    padding: 3px;

    body.night & {
        background: $ventana-background-night;
        box-shadow: $ventana-boxshadow-night;
    }
}

.ventana-title{
    font-family: $font;
    color: $ventana-color-font;
    letter-spacing: 0;
    font-size: 0.9rem;
    font-weight: 700;
    background-image: $gradient-day;
    padding: 4.8px 0px 4.8px 3px;

    body.night & {
        background-image: $gradient-night;
    }
}

.separador {
    font-family: $font;
    font-size: 0.9rem;
    color: $primary-font-day;
    padding: 9px 0px 9px 7px;
    background: $separador-background;
    box-shadow: $separador-shadow;
    border: $separador-border-day;
    margin-top: 64px;
    margin-bottom: 16px;

    body.night & {
        border: $separador-border-night;    
    }
}

.tags-buscados {
    margin-top: 12px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.logoconflecha {
    justify-content: start;
}

.creacion-gif {
    margin-top: 55px;
}

.permiso-comenzar {
    width: 684px;
    margin: auto;
}

.capturando {
    width: 860px;
    margin: auto;
}

.share-container {
    width: 721px;
    height: 391px;
    margin: auto;
}

