html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  max-width: 1600px;
  margin: auto;
}

body {
  background-color: #FFF4FD;
  max-width: 1600px;
  margin: auto;
}

body.night {
  background-color: #110038;
}

.full {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-left: 0.4375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  max-width: 1600px;
}

.container {
  max-width: 1500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 6.328%;
  margin-right: 9.736%;
}

header {
  margin-top: 2.1875rem;
}

.buscador {
  margin-top: 38px;
}

.ventana {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  padding: 3px;
}

body.night .ventana {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.ventana-title {
  font-family: "Chakra Petch", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 0.9rem;
  font-weight: 700;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  padding: 4.8px 0px 4.8px 3px;
}

body.night .ventana-title {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.separador {
  font-family: "Chakra Petch", sans-serif;
  font-size: 0.9rem;
  color: #110038;
  padding: 9px 0px 9px 7px;
  background: #FFFAFE;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  border: 1px solid #E6BBE2;
  margin-top: 64px;
  margin-bottom: 16px;
}

body.night .separador {
  border: 1px solid #2E32FB;
}

.tags-buscados {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

/*BUTTON*/
.btn {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.primary {
  padding: 0.5625rem 1.5625rem 0.5625rem 1.5625rem;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.primary:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body.night .primary {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

body.night .primary:hover {
  background-color: #CE36DB;
}

.dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover-dropdown {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.v-icon {
  padding: 6.6px 12px 6.6px 12px;
  display: inline;
}

.gray {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 1rem;
  background-color: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.gray:hover {
  background-color: #E6E6E6;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body.night .gray {
  background-color: #CCCCCC;
}

.theme-selected {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: 1rem;
  color: #110038;
  background-color: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body.night .theme-selected {
  background-color: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

#sailor-day {
  margin-bottom: 10px;
}

.misguifos {
  margin-top: 4px;
  margin-left: -14px;
  color: #110038;
}

.misguifos::after {
  content: '_';
  position: relative;
  right: 72px;
  top: 1px;
}

.misguifos:active {
  opacity: 80%;
}

body.night .misguifos {
  color: #FFFFFF;
}

.vermas {
  padding: 0.5rem 0.625rem 0.5rem 0.625rem;
  background-color: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-size: 0.875rem;
  position: absolute;
  -webkit-transform: translate(14px, -45px);
          transform: translate(14px, -45px);
}

.vermas:hover {
  background-color: #3A72DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body.night .vermas {
  background-color: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.tag-search {
  padding: 0.5rem 0.625rem 0.5rem 0.625rem;
  background-color: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin-left: 8px;
}

.tag-search:hover {
  background-color: #3A72DB;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body.night .tag-search {
  background-color: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.capturando {
  padding: 0.5625rem 3.343rem 0.5625rem 3.343rem;
  background-color: #FF6161;
  border: 1px solid #110038;
  color: #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.secondary {
  padding: 0.5625rem 0.84375rem 0.5625rem 0.84375rem;
  background-color: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

body.night .secondary {
  background-color: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

/* navbar */
header, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bienvenida {
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

body.night .bienvenida {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.nav {
  margin-top: 0.5625rem;
  width: 430px;
}

.drop-down {
  width: 95px;
  height: 30px;
  margin-top: 6px;
  text-align: center;
}

.drop-down:hover {
  border: dotted 1px #110038;
  margin: 5px -1px -1px -1px;
}

body.night .drop-down:hover {
  border: dotted 1px #FFFFFF;
}

.elegir-theme {
  width: 150px;
  position: absolute;
  padding: 10px;
  -webkit-transform: translate(0px, 36px);
          transform: translate(0px, 36px);
}

.themebtn {
  width: 100%;
  text-align: start;
}

.buscador form {
  width: 97.25%;
  margin: 12px 0px 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputbuscar {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
  background: #FFFFFF;
  padding: 11.5px 0px 11.5px 16px;
  width: 88.8%;
}

.inputbuscar:focus {
  outline: none;
  color: #110038;
  caret-color: #4180F6;
}

.btn-buscar {
  padding-left: 0.625rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.btn-buscar:hover {
  outline: none;
  background-color: #F0F0F0;
}

.btn-buscar span {
  margin-left: 10px;
  line-height: 18px;
}

.normal-text {
  color: #B4B4B4;
}

body.night .normal-text {
  color: #8F8F8F;
}

.active-text {
  color: #110038;
}

body.night .active-text {
  color: #FFFFFF;
}

.active-buscar {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.active-buscar:hover {
  background-color: #E6BBE2;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

body.night .active-buscar {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.search-sugerencias {
  display: none;
  padding: 16px 129px 7px 15px;
  position: absolute;
  -webkit-transform: translate(-4px, 3px);
          transform: translate(-4px, 3px);
  width: 83.95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1343.2px;
}

.search-sugerencia {
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
}

/*containergif */
.gifs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gif {
  display: block;
  height: 280px;
  width: 280px;
}

.sinventana {
  height: 288px;
  width: 298px;
}

.archivo-gif {
  height: 288px;
  width: 298px;
  margin-bottom: 16px;
}

.ventana-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imgbtncerrar {
  margin-right: 5px;
}

#separador-resultname {
  display: none;
}

.hover-dotted {
  outline: 1px dotted #110038;
  outline-offset: -5px;
}

.hover-dotted-img {
  outline: 1px dotted #110038;
  outline-offset: -3px;
}

.hover-gifsearch {
  outline: 1px dotted #110038;
  outline-offset: -9px;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  background-color: #E6E6E6;
  padding: 4px;
}

.hover-gifsearch::after {
  content: attr(data-content);
  overflow: hidden;
  font-family: "Chakra Petch", sans-serif;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  display: block;
  position: relative;
  line-height: 17px;
  left: 1px;
  bottom: 22px;
  width: 288px;
  height: 15px;
  text-align: left;
  text-transform: lowercase;
  padding: 3px 2px;
}

body.night .hover-gifsearch {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  background-color: #B4B4B4;
}

body.night .hover-gifsearch::after {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

/* crear gif */
/*# sourceMappingURL=styles.css.map */